In [1]:
import requests
import pandas as pd
import config
import init_requests
import final_requests

In [2]:
sign_up_date = ['22.11.2007', '21.12.2007', '21.01.2008', '16.03.2008', '17.04.2008', '31.10.2009', '27.11.2009', '29.11.2009', \
                '19.12.2009', '05.01.2010', '05.02.2010', '24.02.2010', '27.02.2010', '12.03.2010', '05.04.2010', \
                '09.06.2010', '15.06.2010', '02.07.2010', '22.07.2010', '07.08.2010', '05.09.2010', '25.09.2010', '24.10.2010', \
                '02.11.2010', '22.11.2010', '18.01.2011', '02.02.2011', '04.02.2011', '17.04.2011', '18.04.2011', \
                '23.04.2011', '29.04.2011', '16.05.2011', '31.05.2011', '20.06.2011', '22.07.2011', '14.08.2011', '07.09.2011', \
                '07.10.2011', '23.11.2011', '25.11.2011', '25.11.2011', '17.12.2011', '26.12.2011', '30.12.2011', '17.01.2012', \
                '27.03.2012', '18.04.2012', '26.05.2012', '13.06.2012', '16.06.2012', '16.09.2012', '09.10.2012', '17.12.2012', \
                '08.01.2013', '27.01.2013', '21.02.2013', '09.03.2013', '23.03.2013', '20.04.2013', '26.04.2013', '24.05.2013', \
                '18.06.2013', '22.08.2013', '27.10.2013', '19.01.2014', '20.04.2014', '19.05.2014', '19.05.2014', '27.05.2014', \
                '28.07.2014', '03.08.2014', '12.09.2014', '01.11.2014', '20.01.2015', '05.04.2015', '23.07.2015', '12.08.2015', \
                '09.10.2015', '12.12.2015', '01.03.2016', '02.04.2016', '01.06.2016', '29.06.2016', '15.08.2016', '27.08.2016', \
                '11.01.2017', '27.01.2017', '29.01.2017', '31.01.2017', '16.06.2017', '10.08.2017', '23.08.2017', '30.09.2017', \
                '06.04.2018', '06.08.2018', '01.10.2019', '19.02.2020']

In [3]:
len(sign_up_date)

98

In [4]:
# 369826180 Alex Shameless id
names = init_requests.get_friends_names(369826180)
names

['Митяй Питерский',
 'Вадим Дремлюга',
 'Николай Лакиза',
 'Иван Выборный',
 'Денис Легин',
 'Лена Лакиза',
 'Тоня Калинина',
 'Иван Парфиров',
 'Динара Камалова',
 'Дарья Прыгова',
 'Татьяна Зимина',
 'Святослав Тюрин',
 'Кирилл Иванов',
 'Егор Кондрашов',
 'Дарья Плотская',
 'Иван Одинцов',
 'Марта Белоусова',
 'Марьяна Романова',
 'Максим Шульга',
 'Руслан Надеев',
 'Антон Соболев',
 'Катерина Буркова',
 'Владимир Малышев',
 'Алёна Одинцова',
 'Кристина Мустяцэ',
 'Алёна Зинурова',
 'Алёна Луцкович',
 'Олег Лайок',
 'Кирилл Чернышев',
 'Серафима Кукушкина',
 'Александр Комиссаров',
 'Максим Коновалов',
 'Маша Наволоцкая',
 'Кадрия Сунгатуллина',
 'Дарья Кравченко',
 'Анна Голуб',
 'Катерина Субботина',
 'Александра Романий',
 'Елизавета Марочкина',
 'Вика Пархонина',
 'Полина Гришина',
 'Яна Мишина',
 'Yulia Brayko',
 'Лина Трушева',
 'Николай Кириллов',
 'Елизавета Филиппова',
 'Игорь Литвак',
 'Андрей Сазанов',
 'Даниил Дарбинян',
 'Вячеслав Еремеев',
 'Аня Редичкина',
 'Анастасия Полярных',
 'Ренат Ахметжанов',
 'Анастасия Щербатова',
 'Кирилл Кулемин',
 'Антон Александрин',
 'Ирина Штогрина',
 'Юлианна Гафарова',
 'Эмина Исхакова',
 'Камиль Имамов',
 'Иван Шойтов',
 'Эля Ландау',
 'Глеб Бондаренко',
 'Влад Варфоломеев',
 'Владислава Мигачева',
 'Александр Игнатьев',
 'Макс Науменко',
 'Лера Артамонова',
 'Иван Андрющенко',
 'Tye Smith',
 'Екатерина Грошевская',
 'Людмила Бардилева',
 'Настя Белевских',
 'Даша Кармазь',
 'Андрей Краснопресненский',
 'Александра Басакина',
 'Максим Голиш',
 'Desperate Dream',
 'Владимир Михайлов',
 'Анастасия Кошман',
 'Полина Андриенко',
 'Daniil Demin',
 'Алина Королькова',
 'Алёна Белова',
 'Дмитрий Федоров',
 'Валера Панаськов',
 'Максим Бадюкевич',
 'Андрей Иванко',
 'Иннокентий Загорский',
 'Таня Богодухова',
 'Чудо Чудик',
 'Nickita Domovod',
 'Никита Паращенко',
 'Аня Тостановская',
 'Анна Василько',
 'Стефания Хлестунова',
 'Егор Чуриков',
 'Михаил Мосолов']

In [5]:
ids = init_requests.get_friends_ids(369826180)
ids

[3823620,
 4954753,
 6404136,
 9869521,
 11819822,
 55514851,
 59027264,
 59280283,
 62039402,
 64123076,
 68733994,
 71714375,
 72184009,
 74008457,
 78105353,
 86224117,
 86977801,
 88823069,
 90974494,
 92893750,
 96573604,
 99520429,
 104253805,
 106247308,
 110962273,
 123580178,
 127457239,
 127923722,
 135720865,
 135771452,
 136054172,
 136403061,
 137374614,
 138189763,
 139315639,
 141602985,
 143743336,
 146193116,
 150466940,
 154467690,
 154588435,
 154622365,
 156353509,
 157155316,
 157650866,
 160355851,
 168900120,
 170992292,
 174113987,
 175530702,
 175767409,
 183554406,
 185742029,
 193695622,
 196324095,
 198852192,
 201948128,
 203872552,
 205640328,
 209081311,
 209663674,
 212365683,
 214855081,
 221505424,
 228873249,
 239464877,
 251315343,
 254615962,
 254708620,
 255495515,
 263086468,
 263872258,
 268939560,
 275692575,
 288300996,
 299955321,
 315202200,
 318134861,
 327505098,
 338090844,
 352890422,
 358423287,
 367760592,
 372097810,
 379412079,
 381364254,
 406616383,
 409938759,
 410364115,
 410696254,
 433456830,
 441777182,
 443813867,
 449675479,
 482120802,
 556360933,
 563934992,
 583859284]

In [7]:
ages = final_requests.get_friends_ages(369826180)
ages

['NA',
 44.8,
 'NA',
 'NA',
 18.7,
 'NA',
 'NA',
 'NA',
 20.7,
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 19.0,
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 18.7,
 'NA',
 'NA',
 'NA',
 18.7,
 18.1,
 'NA',
 'NA',
 19.1,
 18.9,
 'NA',
 18.7,
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 19.2,
 18.4,
 'NA',
 'NA',
 18.4,
 19.2,
 17.9,
 19.4,
 19.3,
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 18.7,
 'NA',
 19.2,
 21.4,
 'NA',
 19.3,
 'NA',
 28.2,
 18.6,
 'NA',
 'NA',
 19.2,
 'NA',
 'NA',
 18.3,
 'NA',
 19.5,
 'NA',
 'NA',
 19.0,
 18.7,
 'NA',
 'NA',
 'NA',
 18.7,
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 18.7,
 'NA',
 'NA',
 18.3,
 'NA',
 117.5]

In [9]:
friends_ages = final_requests.get_friends_friends_ages(369826180)
friends_ages[2] = 39.6
# Вручную добавил значение для Николая Лакизы
friends_ages

[29.7,
 21.9,
 39.6,
 22.4,
 19.3,
 21.1,
 20.4,
 19.2,
 21.0,
 19.8,
 20.1,
 19.6,
 19.9,
 19.2,
 19.1,
 21.6,
 19.8,
 21.4,
 19.7,
 19.9,
 19.2,
 20.1,
 19.1,
 22.2,
 20.8,
 19.3,
 19.2,
 19.2,
 18.9,
 19.6,
 18.9,
 18.6,
 19.5,
 19.3,
 20.8,
 19.2,
 20.1,
 19.2,
 19.2,
 19.8,
 19.3,
 35.5,
 19.6,
 18.9,
 19.8,
 19.1,
 19.2,
 18.2,
 18.7,
 18.9,
 19.0,
 19.0,
 19.4,
 19.1,
 19.9,
 19.9,
 20.5,
 20.2,
 20.4,
 19.1,
 20.0,
 18.9,
 19.1,
 20.8,
 19.5,
 22.0,
 19.1,
 19.6,
 19.1,
 25.2,
 19.0,
 19.1,
 17.6,
 18.9,
 18.6,
 19.9,
 19.0,
 18.9,
 19.2,
 20.6,
 18.2,
 19.0,
 19.2,
 18.9,
 20.1,
 17.0,
 19.0,
 18.6,
 18.5,
 18.9,
 20.1,
 17.6,
 18.9,
 19.3,
 19.4,
 19.2,
 19.0,
 19.0]

In [11]:
cities = final_requests.get_cities(369826180)
cities[2] = 'Калининград'
# Вручную добавил значение для Николая Лакизы
cities

['Санкт-Петербург',
 'Мурманск',
 'Калининград',
 'NA',
 'Санкт-Петербург',
 'Мурманск',
 'Мурманск',
 'Севастополь',
 'Москва',
 'Rovaniemi',
 'Санкт-Петербург',
 'Оренбург',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Мурманск',
 'Санкт-Петербург',
 'Волгоград',
 'Киров',
 'Санкт-Петербург',
 'Мурманск',
 'NA',
 'Санкт-Петербург',
 'NA',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Мурманск',
 'Санкт-Петербург',
 'Кировск',
 'Bern',
 'Санкт-Петербург',
 'Kirkenes',
 'Мурманск',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Мурманск',
 'Мурманск',
 'NA',
 'Москва',
 'Мурманск',
 'NA',
 'Санкт-Петербург',
 'NA',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'NA',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'NA',
 'NA',
 'Санкт-Петербург',
 'Мурманск',
 'Пенза',
 'Санкт-Петербург',
 'NA',
 'Волгоград',
 'Санкт-Петербург',
 'NA',
 'Санкт-Петербург',
 'NA',
 'Санкт-Петербург',
 'Мурманск',
 'Санкт-Петербург',
 'Мурманск',
 'Мурманск',
 'Санкт-Петербург',
 'Мурманск',
 'Санкт-Петербург',
 'Мурманск',
 'Мурманск',
 'Мурманск',
 'Санкт-Петербург',
 'NA',
 'Санкт-Петербург',
 'Санкт-Петербург',
 'Kirkenes',
 'Санкт-Петербург',
 'Мурманск',
 'Мурманск',
 'NA',
 'NA',
 'Санкт-Петербург',
 'Мурманск',
 'Мурманск',
 'Королёв',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'NA',
 'NA',
 'Санкт-Петербург',
 'Los Angeles']

In [13]:
hometowns = final_requests.get_hometowns(369826180)
hometowns

['NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'Оленегорск',
 'Мурманск',
 'Мурманск',
 'Мурманск',
 'NA',
 'Мурманск',
 'Оренбург',
 'Мурманск',
 'Тюмень',
 'Cеверодвинск',
 'NA',
 'NA',
 'NA',
 'NA',
 'Киров',
 'NA',
 'NA',
 'Мурманск',
 'Ижевск',
 'NA',
 'NA',
 'Уфа',
 'Рязань',
 'Мурманск',
 'NA',
 'Кировск',
 'NA',
 'Мурманск',
 'Murmansk',
 'Мурманск',
 'NA',
 'Миасс',
 'NA',
 'Москва',
 'NA',
 'Волгоград',
 'Мурманск',
 'NA',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'NA',
 'NA',
 'Ташкент',
 'NA',
 'Мурманск',
 'NA',
 'Владивосток',
 'Мурманск',
 'Мурманск',
 'Мурманск',
 'МурМанск',
 'Мурманск',
 'NA',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'Сургут',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'Калуга',
 'NA',
 'NA',
 'Мурманск',
 'NA',
 'Мурманск',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'Саратов',
 'NA']

In [15]:
friends_count = final_requests.get_friends_count(369826180)
friends_count[2] = 193
# Вручную добавил значение для Николая Лакизы
friends_count

[1479,
 123,
 193,
 278,
 212,
 51,
 589,
 380,
 182,
 242,
 290,
 251,
 283,
 72,
 191,
 583,
 286,
 641,
 238,
 256,
 284,
 335,
 90,
 808,
 273,
 155,
 163,
 155,
 81,
 136,
 180,
 136,
 134,
 174,
 107,
 143,
 781,
 245,
 2878,
 156,
 301,
 767,
 159,
 131,
 190,
 319,
 139,
 217,
 127,
 63,
 107,
 64,
 140,
 224,
 131,
 136,
 537,
 240,
 228,
 139,
 267,
 62,
 183,
 240,
 180,
 309,
 366,
 233,
 142,
 1837,
 124,
 100,
 414,
 88,
 5,
 225,
 188,
 91,
 167,
 158,
 170,
 198,
 48,
 60,
 265,
 74,
 114,
 219,
 14,
 180,
 144,
 56,
 115,
 141,
 53,
 55,
 194,
 42]

In [17]:
followers_count = final_requests.get_followers_count(369826180)
followers_count[2] = 158
# Вручную добавил значение для Николая Лакизы
followers_count

[226,
 'NA',
 158,
 361,
 169,
 193,
 340,
 138,
 197,
 298,
 146,
 243,
 486,
 77,
 261,
 645,
 14,
 2809,
 384,
 208,
 334,
 'NA',
 'NA',
 717,
 287,
 188,
 67,
 68,
 82,
 199,
 80,
 5,
 159,
 215,
 357,
 73,
 87,
 87,
 5125,
 1026,
 393,
 98,
 503,
 141,
 97,
 186,
 35,
 154,
 53,
 'NA',
 36,
 86,
 71,
 'NA',
 127,
 93,
 245,
 546,
 427,
 117,
 'NA',
 58,
 24,
 109,
 266,
 611,
 265,
 'NA',
 75,
 5,
 66,
 83,
 182,
 'NA',
 1,
 77,
 22,
 'NA',
 56,
 224,
 117,
 44,
 'NA',
 16,
 86,
 'NA',
 72,
 37,
 'NA',
 78,
 8,
 29,
 142,
 15,
 162,
 'NA',
 44,
 'NA']

In [27]:
groups_count = final_requests.get_groups_count(369826180)
groups_count[85] = 'NA'
groups_count

[460,
 'NA',
 'NA',
 187,
 209,
 26,
 71,
 91,
 'NA',
 183,
 'NA',
 28,
 173,
 41,
 132,
 78,
 68,
 746,
 87,
 282,
 145,
 570,
 40,
 171,
 76,
 28,
 88,
 'NA',
 80,
 'NA',
 9,
 156,
 60,
 32,
 17,
 45,
 95,
 89,
 738,
 141,
 80,
 261,
 3,
 115,
 18,
 131,
 33,
 348,
 60,
 4,
 'NA',
 249,
 184,
 272,
 'NA',
 61,
 142,
 45,
 112,
 17,
 86,
 30,
 37,
 89,
 185,
 198,
 592,
 64,
 72,
 574,
 'NA',
 220,
 391,
 46,
 38,
 226,
 110,
 40,
 213,
 371,
 132,
 32,
 107,
 43,
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 102,
 129,
 55,
 179,
 8,
 86,
 'NA',
 214,
 'NA']

In [28]:
inst = final_requests.get_inst(369826180)
inst

['No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No']

In [29]:
twi = final_requests.get_twi(369826180)
twi

['No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No']

In [30]:
higheduc = final_requests.get_heducation(369826180)
higheduc[2] = 'ПГУПС (МФ)'
# Вручную добавил значение для Николая Лакизы
higheduc

['СПбГУ',
 'МАГУ (бывш. МГГУ, МГПУ)',
 'ПГУПС (МФ)',
 'NA',
 'NA',
 'МАГУ (бывш. МГГУ, МГПУ)',
 'NA',
 'NA',
 'РТУ МИРЭА',
 'NA',
 'NA',
 'Университет ИТМО',
 'ГУМРФ им. адмирала С. О. Макарова',
 'Университет ИТМО',
 'Университет ИТМО',
 'NA',
 'NA',
 'NA',
 'NA',
 'Университет ИТМО',
 'NA',
 'NA',
 'NA',
 'Университет ИТМО',
 'NA',
 'NA',
 'Университет ИТМО',
 'Университет ИТМО',
 'МАГУ (бывш. МГГУ, МГПУ)',
 'NA',
 'Университет ИТМО',
 'NA',
 'СЗ филиал РГУП (бывш. СЗ филиал РАП)',
 'NA',
 'ЯрГУ им. П. Г. Демидова',
 'Университет ИТМО',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'МАГУ (бывш. МГГУ, МГПУ)',
 'РГПУ им. А. И. Герцена',
 'Университет ИТМО',
 'Университет ИТМО',
 'СПбГЭУ',
 'Университет ИТМО',
 'NA',
 'NA',
 'NA',
 'Университет ИТМО',
 'NA',
 'Университет ИТМО',
 'NA',
 'ПГУ',
 'Университет ИТМО',
 'NA',
 'NA',
 'Университет ИТМО',
 'NA',
 'СПбГУТ им. Бонч-Бруевича',
 'NA',
 'NA',
 'СГМУ (бывш. АГМА, АГМИ)',
 'СПб УГПС МЧС РФ',
 'NA',
 'NA',
 'NA',
 'NA',
 'Grinnell College',
 'МАГУ (бывш. МГГУ, МГПУ)',
 'ЛГУ им. А. С. Пушкина',
 'NA',
 'NA',
 'NA',
 'Университет ИТМО',
 'Университет ИТМО',
 'NA',
 'NA',
 'ННГУ им. Н. И. Лобачевского',
 'NA',
 'Университет ИТМО',
 'NA',
 'Университет ИТМО',
 'NA',
 'NA',
 'МГОУ (областной)',
 'NA',
 'NA',
 'NA',
 'СПбПУ Петра Великого (Политех)',
 'NA',
 'РХТУ им. Д. И. Менделеева',
 'NA',
 'NA',
 'NA',
 'Университет ИТМО',
 'МАГУ (бывш. МГГУ, МГПУ)']

In [31]:
avas = final_requests.get_profile_photos_count(369826180)
avas[2] = 69
# Вручную добавил значение для Николая Лакизы
avas

[84,
 2,
 69,
 4,
 3,
 22,
 6,
 1,
 12,
 37,
 9,
 11,
 19,
 1,
 5,
 4,
 3,
 91,
 3,
 7,
 1,
 1,
 1,
 19,
 5,
 9,
 28,
 3,
 11,
 6,
 5,
 8,
 5,
 14,
 3,
 27,
 11,
 7,
 5,
 10,
 4,
 9,
 3,
 7,
 5,
 10,
 7,
 1,
 3,
 1,
 3,
 20,
 23,
 4,
 11,
 12,
 50,
 14,
 7,
 0,
 2,
 1,
 4,
 10,
 12,
 23,
 9,
 21,
 1,
 14,
 1,
 2,
 8,
 7,
 1,
 15,
 2,
 1,
 7,
 11,
 1,
 8,
 1,
 4,
 18,
 1,
 13,
 2,
 0,
 8,
 1,
 1,
 6,
 2,
 5,
 8,
 5,
 1]

In [36]:
sex = init_requests.get_sex(369826180)
sex

['M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M']

In [37]:
df = pd.DataFrame({'Name': names,
                   'Id': ids,
                   'Sex': sex,
                   'Age': ages,
                   'Friends age': friends_ages,
                   'City': cities,
                   'Hometown': hometowns,
                   'Friends count': friends_count,
                   'Groups count': groups_count,
                   'Followers count': followers_count,
                   'Profile photos count': avas,
                   'Insta': inst,
                   'Twitter': twi,
                   'University': higheduc})
df.to_csv(r'vk_friends.csv', index=False)

In [38]:
df = pd.read_csv('vk_friends.csv')
df

,Name,Id,Sex,Age,Friends age,City,Hometown,Friends count,Groups count,Followers count,Profile photos count,Insta,Twitter,University
0,Митяй Питерский,3823620,M,NaN,29.7,Санкт-Петербург,NaN,1479,460.0,226.0,84,No,No,СПбГУ
1,Вадим Дремлюга,4954753,M,44.8,21.9,Мурманск,NaN,123,NaN,NaN,2,No,No,"МАГУ (бывш. МГГУ, МГПУ)"
2,Николай Лакиза,6404136,M,NaN,39.6,Калининград,NaN,193,NaN,158.0,69,No,No,ПГУПС (МФ)
3,Иван Выборный,9869521,M,NaN,22.4,NaN,NaN,278,187.0,361.0,4,No,No,NaN
4,Денис Легин,11819822,M,18.7,19.3,Санкт-Петербург,NaN,212,209.0,169.0,3,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Аня Тостановская,449675479,F,NaN,19.3,NaN,NaN,141,8.0,15.0,2,No,No,NaN
94,Анна Василько,482120802,F,NaN,19.4,NaN,NaN,53,86.0,162.0,5,No,No,NaN
95,Стефания Хлестунова,556360933,F,18.3,19.2,NaN,NaN,55,NaN,NaN,8,No,No,NaN
96,Егор Чуриков,563934992,M,NaN,19.0,Санкт-Петербург,Саратов,194,214.0,44.0,5,No,No,Университет ИТМО
97,Михаил Мосолов,583859284,M,117.5,19.0,Los Angeles,NaN,42,NaN,NaN,1,No,No,"МАГУ (бывш. МГГУ, МГПУ)"

In [40]:
df.head()

,Name,Id,Sex,Age,Friends age,City,Hometown,Friends count,Groups count,Followers count,Profile photos count,Insta,Twitter,University
0,Митяй Питерский,3823620,M,NaN,29.7,Санкт-Петербург,NaN,1479,460.0,226.0,84,No,No,СПбГУ
1,Вадим Дремлюга,4954753,M,44.8,21.9,Мурманск,NaN,123,NaN,NaN,2,No,No,"МАГУ (бывш. МГГУ, МГПУ)"
2,Николай Лакиза,6404136,M,NaN,39.6,Калининград,NaN,193,NaN,158.0,69,No,No,ПГУПС (МФ)
3,Иван Выборный,9869521,M,NaN,22.4,NaN,NaN,278,187.0,361.0,4,No,No,NaN
4,Денис Легин,11819822,M,18.7,19.3,Санкт-Петербург,NaN,212,209.0,169.0,3,No,No,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 14 columns):
Name                    98 non-null object
Id                      98 non-null int64
Sex                     98 non-null object
Age                     32 non-null float64
Friends age             98 non-null float64
City                    75 non-null object
Hometown                42 non-null object
Friends count           98 non-null int64
Groups count            82 non-null float64
Followers count         84 non-null float64
Profile photos count    98 non-null int64
Insta                   98 non-null object
Twitter                 98 non-null object
University              45 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 10.8+ KB